.homeHeader {
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.pictureFrame img {
  border-radius: 50%;
}

.homeBody {
  color: white;
  font-size: 32px;
  padding: 10px;
}
